{% extends 'movies/base.html' %}
{% block content %}

    <form action="{% url 'movies:home'%}">
        <input type="submit" value="Back to search" />
    </form>

    <h1>{{ movie.title }}</h1>
    <li>{{ movie.date_added }}</li>
    {% for x_genre in movie.genre.all %}

        <li>{{ x_genre.movie_genre }}</li>
   
        {% for x_actor in movie.actor.all %}

            <li>{{ x_actor.movie_actors }}</li>

        {% endfor %}
        
    {% endfor %}
    
    <li style="float:left">Watched: {% if movie.watched %}Watched{% else %}Not watched{% endif %}</li>
    
    <form action="{% url 'movies:update_item' movie.id %}" method="post">
        {% csrf_token %}
        <input type="checkbox" id="watched" name="watched" {% if watched %} checked="checked" {% endif %} />
        <input type="submit" value="Save changes" />
    </form>

    <form action="{% url 'movies:delete_item' movie.id %}">
        <input type="submit" value="Delete" />
    </form>

{% endblock %}
